/.quarto/
/_site/
.Rproj.user
/photos/
/.Rproj.user
*.pper
*.json
.Rproj.user/645B124A/pcs/source-pane.pper
.DS_Store
.Rproj.user/645B124A/pcs/windowlayoutstate.pper
.Rproj.user/645B124A/sources/prop/00E46AC2
.Rproj.user/645B124A/sources/prop/D465A742
.Rproj.user/645B124A/sources/prop/DC12D3CE
.Rproj.user/645B124A/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/16B584C7-cv/1/s/chunks.json
.Rproj.user/shared/notebooks/7C2BD72B-index/1/s/chunks.json
_extensions/mcanouil/iconify/_extension.yml
_extensions/mcanouil/iconify/iconify-icon.min.js
_extensions/mcanouil/iconify/iconify.lua
_extensions/mcanouil/iconify/LICENSE
papers/.DS_Store
.DS_Store
.Rhistory
